{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appcompanies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Company</th>
                <th>Url</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appCompany in appCompanies %}
            <tr>
                <td><a href="{{ path('appcompany_show', { 'id': appCompany.id }) }}">{{ appCompany.id }}</a></td>
                <td>{{ appCompany.company }}</td>
                <td>{{ appCompany.url }}</td>
                <td>{{ appCompany.logo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appcompany_show', { 'id': appCompany.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('appcompany_edit', { 'id': appCompany.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appcompany_new') }}">Create a new appCompany</a>
        </li>
    </ul>
{% endblock %}
