{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appcontacts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Email</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appContact in appContacts %}
            <tr>
                <td><a href="{{ path('appcontact_show', { 'id': appContact.id }) }}">{{ appContact.id }}</a></td>
                <td>{{ appContact.objet }}</td>
                <td>{{ appContact.email }}</td>
                <td>{{ appContact.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appcontact_show', { 'id': appContact.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('appcontact_edit', { 'id': appContact.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appcontact_new') }}">Create a new appContact</a>
        </li>
    </ul>
{% endblock %}
