{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appcontact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appContact.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ appContact.objet }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ appContact.email }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ appContact.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appcontact_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('appcontact_edit', { 'id': appContact.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
