{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appprofils list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Key</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appProfil in appProfils %}
            <tr>
                <td><a href="{{ path('appprofil_show', { 'id': appProfil.id }) }}">{{ appProfil.id }}</a></td>
                <td>{{ appProfil.key }}</td>
                <td>{{ appProfil.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appprofil_show', { 'id': appProfil.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('appprofil_edit', { 'id': appProfil.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appprofil_new') }}">Create a new appProfil</a>
        </li>
    </ul>
{% endblock %}
