{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appteams list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Linkedin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appTeam in appTeams %}
            <tr>
                <td><a href="{{ path('appteam_show', { 'id': appTeam.id }) }}">{{ appTeam.id }}</a></td>
                <td>{{ appTeam.name }}</td>
                <td>{{ appTeam.facebook }}</td>
                <td>{{ appTeam.twitter }}</td>
                <td>{{ appTeam.linkedin }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appteam_show', { 'id': appTeam.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('appteam_edit', { 'id': appTeam.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appteam_new') }}">Create a new appTeam</a>
        </li>
    </ul>
{% endblock %}
