{% extends 'base.html.twig' %}

{% block body %}
    <h1>Apptechnologies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appTechnology in appTechnologies %}
            <tr>
                <td><a href="{{ path('apptechnology_show', { 'id': appTechnology.id }) }}">{{ appTechnology.id }}</a></td>
                <td>{{ appTechnology.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('apptechnology_show', { 'id': appTechnology.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('apptechnology_edit', { 'id': appTechnology.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apptechnology_new') }}">Create a new appTechnology</a>
        </li>
    </ul>
{% endblock %}
