{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appproject</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appProject.id }}</td>
            </tr>
            <tr>
                <th>Lang</th>
                <td>{{ appProject.lang }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ appProject.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ appProject.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if appProject.date %}{{ appProject.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appproject_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('appproject_edit', { 'id': appProject.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
